article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-y: scroll; }

img {
  max-width: 100%; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.mainFormContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh; }

.mainQuestion h1 {
  font-size: 13rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0; }

input[type=text] {
  width: 400px;
  height: 40px;
  font-size: 2.5rem;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 30px; }

.formContainer {
  position: relative; }

.randomize, .magnify {
  border: 0;
  background: white;
  font-size: 3rem;
  position: absolute;
  right: 0;
  bottom: 3px; }

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 0 0;
  padding: 0; }

ul li {
  font-size: 3rem;
  margin-right: 10px;
  border-bottom: 5px solid white;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.cat:hover, .dog:hover, .programming:hover {
  cursor: pointer;
  border-bottom: 4px solid black; }

.randomize {
  outline: none;
  padding: 0; }

#imagesContainer {
  font-size: 0;
  position: relative; }

#gifContainer {
  height: 500px;
  padding: 0 100px 100px 100px; }

img {
  width: 33.33%;
  height: 100%;
  padding: 5px; }

#quoteContainer h1, p {
  text-align: center;
  font-size: 5rem; }

.backUp {
  position: absolute;
  border: 0;
  background: white;
  font-size: 7rem;
  right: 35px;
  outline: none; }

@media only screen and (max-width: 950px) {
  img {
    width: 50%; }
  img:nth-child(7), img:nth-child(8), img:nth-child(9) {
    display: none; } }

@media only screen and (max-width: 650px) {
  img {
    width: 100%; }
  #gifContainer {
    padding: 0; }
  .backUp {
    display: none; }
  .mainQuestion h1 {
    font-size: 10rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0; }
  #quoteContainer h1, p {
    font-size: 5rem; }
  .cat:hover, .dog:hover, .programming:hover {
    border-bottom: 5px solid white;
    text-decoration: underline; } }

@media only screen and (max-width: 616px) {
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .mainFormContainer {
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left; }
  .mainQuestion h1 {
    text-align: left; } }

@media only screen and (max-width: 481px) {
  .mainQuestion h1 {
    font-size: 8rem; } }

@media only screen and (max-width: 375px) {
  input[type=text] {
    width: 350px; }
  .mainQuestion h1 {
    font-size: 7rem; } }

@media only screen and (max-width: 320px) {
  input[type=text] {
    width: 300px; }
  .mainQuestion h1 {
    font-size: 5rem; }
  #quoteContainer h1, p {
    font-size: 3rem; }
  ul li, .randomize {
    font-size: 2.5rem; } }
